/*Created by: Grace S
*Created on: Feb 2022
*This CSS file defines the style for index.html
*ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #b2c2bf;
}

h1 {
  background-color:#c0ded9;
  color: #3b3a30;
  padding: 40px;
  text-align: center;
}

p {
  background-color: #eaece5;
}

p {
  border-style: solid;
  border-color: #20B2AA;
}

p {
  font-family:Monospace;
  font-size: 15px;
}